.overlayContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 110vh;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    backdrop-filter: blur(2px);
    overflow: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.container {
    background: #FFF;
    padding: 2rem;
    max-width: 70%;
    min-width: 70%;
    max-height: 70%;
    border-radius: 0.5rem;
    overflow: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.container::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 768px) {
    .container {
        min-width: 30%;
    }
}